<!DOCTYPE html>
<html lang="es">

    <head>
        <!-- <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="PruebaConVue.js"></script> -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Prueba con Vue</title>
    </head>
    
    <body>
        <div id = "app">
            <h1>{{titulo}}</h1>
            <input type="text" v-model="nuevafruta" placeholder="Fruta">
            <input type="number" v-model.number="nuevacantidad" placeholder="Cantidad">
            <button v-on:click="agregarfruta">Agregar</button>
            <table>
                <tr v-for="fru of frutas">
                    <td>
                        <h4>{{fru.nuevafruta}}</h4>
                    </td>
                    <td>
                        <span v-if="fru.nuevacantidad==0">Sin Stock</span>
                        <span v-if="fru.nuevacantidad!=null">{{fru.cantidad}} unidades</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Total:</h4>
                    </td>
                    <td>
                        {{SumarFrutas}}
                    </td>
                </tr>
            </table>
        </div>
        <!-- <script src = "https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="PruebaConVue.js"></script> -->
    </body>
</html>